.info-page .Logo {
  position: absolute;
  bottom: 80vh;
  left: 50%;
  transform: translateX(-50%);
}

.info {
  position: absolute;
  bottom: 5vh;
  width: 95vw;
  text-align: start;
  left: 50%;
  transform: translateX(-50%);
  font-size: 2.5vh;
  overflow-y: auto;
}

.info h2 {
  text-align: center;
}
