.avertissement {
  position: absolute;
  bottom: 0;
  text-align: center;
  width: 100%; /* Largeur relative au viewport */
  font-size: 2.5vh; /* Taille de police relative à la hauteur du viewport */
}
