html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* Mode clair (par défaut) */
body {
  background: linear-gradient(180deg, #5ae4f3 0%, #6077ed 100%);
  color: black;
  transition: background-color 0.3s, color 0.3s;
}

/* Mode sombre */
body.dark-mode {
  background: linear-gradient(180deg, #172044 0%, #133438 100%);
  color: white;
}
