.logo {
  height: 120px;
  transition: all 0.5s ease;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo h1 {
  color: #676700;
  text-align: center;
  font-family: "Jacques Francois Shadow", serif;
  font-size: 128px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
