.bubble {
  margin: 5px;
  max-width: 75%;
  min-width: 50px;
  padding: 2px 5px;
  border-radius: 15px;
  display: flex;
  justify-content: center;
}

.bubble.user {
  background: #5ae4f3;
  align-self: flex-end;
}

.bubble.model {
  background: #6077ed;
  align-self: flex-start;
}

.dark-mode .bubble.user {
  background: #121834;
}

.dark-mode .bubble.model {
  background: #122f32;
}
